In [71]:
import pandas as pd
import utilities.data_preprocessing as dp

# importing data into dataframes
movies_df = pd.read_csv("data/movies.csv")
tags_df = pd.read_csv("data/tags.csv")
# links_df = pandas.read_csv("data/links.csv")
# ratings_df = pandas.read_csv("data/ratings.csv")

### *movies.csv* data file preprocessing

In [72]:
# checking data types
movies_df["movieId"] = movies_df["movieId"].apply(lambda value: value if isinstance(value, int) else pd.NA)
movies_df["title"] = movies_df["title"].apply(lambda value: value if isinstance(value, str) else pd.NA)
movies_df["genres"] = movies_df["genres"].apply(lambda value: value if isinstance(value, str) else pd.NA)
movies_df.dropna()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
87580,292731,The Monroy Affaire (2022),Drama
87581,292737,Shelter in Solitude (2023),Comedy|Drama
87582,292753,Orca (2023),Drama
87583,292755,The Angry Breed (1968),Drama
87584,292757,Race to the Summit (2023),Action|Adventure|Documentary

In [73]:
# making data more informative and convenient work with
movies_df["year"] = movies_df["title"].apply(lambda value: dp.extract_movie_year(value))
movies_df["title"] = movies_df["title"].apply(lambda value: dp.clean_movie_title(value))
movies_df["genres"] = movies_df["genres"].apply(lambda value: dp.extract_movie_genres(value))

movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

### *tags.csv* data file prepocessing

In [74]:
# checking data types
tags_df["userId"] = tags_df["userId"].apply(lambda value: value if isinstance(value, int) else pd.NA)
tags_df["movieId"] = tags_df["movieId"].apply(lambda value: value if isinstance(value, int) else pd.NA)
tags_df["tag"] = tags_df["tag"].apply(lambda value: value if isinstance(value, str) else pd.NA)
tags_df["timestamp"] = tags_df["timestamp"].apply(lambda value: value if isinstance(value, int) else pd.NA)
tags_df.dropna()

         userId  movieId             tag   timestamp
0            22    26479     Kevin Kline  1583038886
1            22    79592        misogyny  1581476297
2            22   247150      acrophobia  1622483469
3            34     2174           music  1249808064
4            34     2174           weird  1249808102
...         ...      ...             ...         ...
2000067  162279    90645      Rafe Spall  1320817734
2000068  162279    91079   Anton Yelchin  1322337407
2000069  162279    91079  Felicity Jones  1322337400
2000070  162279    91658     Rooney Mara  1325828398
2000071  162279   100714     Julie Delpy  1373095449

[2000055 rows x 4 columns]